$primary-text-color: #222431;
$secondary-text-color: #72768F;
$third-text-color: #FFFFFF;

$primary-button-text-color: #FFFFFF;
$secondary-button-text-color: #1C85FE;

$primary-button-color: #0568FF;
$secondary-button-color: #000000;
$button-gradient-first: #0568FF;
$button-gradient-second: #31A0FD;

$input-border-color: #E2E3ED;

$form-background-color: #FDFDFE;

$link-hover-color: #1C85FE;

$input-background-color: #ffffff;